@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  --breakpoint-xs: 325px;    /* Extra small devices */
  --breakpoint-sm: 576px;    /* Small devices */
  --breakpoint-md: 768px;    /* Medium devices */
  --breakpoint-lg: 992px;    /* Large devices */
  --breakpoint-xl: 1200px;   /* Extra large devices */
  --breakpoint-2xl: 1440px;  /* 2x Extra large devices */
    --breakpoint-2k: 1920px;   /* 4K Ultra HD displays */
    --breakpoint-4k: 2350px;   /* 4K Ultra HD displays */

}

h1, h2, h3 {
  font-family: 'Judson', Judson;
}
p {
  font-family: 'poppins', poppins;
}